<div class="profile-container">
  <div class="profile-header">
    <div class="cover-image">
  <div class="profile-image-container">
    <img 
      [src]="'https://ui-avatars.com/api/?name=' + user.username + '&background=random'" 
      [alt]="user.username" 
      class="profile-image"
    >
  </div>
</div>

    <div class="profile-info">
      <div class="profile-details">
        <h1>{{user.username}}</h1>
        <p class="bio">{{user.bio}}</p>
      </div>

      <div class="profile-stats">
        <div class="stat">
          <span class="stat-value">0</span>
          <!-- Put actual user.posts -->
          <span class="stat-label">Posts</span>
        </div>
        <div class="stat">
          <span class="stat-value">0</span>
          <!-- Put actual user.followers -->
          <span class="stat-label">Followers</span>
        </div>
        <div class="stat">
          <span class="stat-value">'0'</span>
          <!-- Put actual user.following -->
          <span class="stat-label">Following</span>
        </div>
      </div>

      <div class="profile-actions">
        <button mat-raised-button color="primary" (click)="editing = true">
          <mat-icon>edit</mat-icon>
          Edit Profile
        </button>
        <!-- <button mat-stroked-button>
          <mat-icon>settings</mat-icon>
          Settings
        </button> -->
        <!-- //TODO: Add settings functionality in future update-->
      </div>
    </div>
  </div>
  
  <!-- Inline editor shown when editing -->
  <div *ngIf="editing">
    <app-edit-profile [user]="user" (saved)="onProfileSaved($event)" (cancel)="editing = false"></app-edit-profile>
  </div>

  <mat-tab-group class="profile-content" mat-align-tabs="center">
    <mat-tab label="Posts">
      <div class="tab-content">
        <app-no-blog *ngIf="(blogs$ | async)?.length === 0" page="profile"></app-no-blog>

        <ng-container *ngIf="blogs$ | async as blogs">
          <ng-container *ngIf="blogs.length > 0">
            <app-blog-card
              *ngFor="let blog of blogs"
              [blog]="blog">
            </app-blog-card>
          </ng-container>
        </ng-container>
      </div>
    </mat-tab>
    <mat-tab label="About">
      <div class="tab-content">
        <mat-card>
          <mat-card-content>
            <h2>About Me</h2>
            <p>{{user.bio}}</p>

            <!-- <h3>Contact Information</h3>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Email</mat-label>
              <input matInput value="john.doe@example.com" disabled>
            </mat-form-field> -->

            <h3>Social Links</h3>
            <div class="social-links">
              <button mat-button (click)="openLink(user.socialLinks.website, 'Website')">
                <mat-icon>link</mat-icon>
                Website
              </button>
              <button mat-button (click)="openLink(user.socialLinks.twitter, 'Twitter')">
                <mat-icon>public</mat-icon>
                Twitter
              </button>
              <button mat-button (click)="openLink(user.socialLinks.github, 'GitHub')">
                <mat-icon>code</mat-icon>
                GitHub
              </button>
              <button mat-button (click)="openLink(user.socialLinks.linkedin, 'LinkedIn')">
                <mat-icon>business</mat-icon>
                LinkedIn
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>