<div class="home-container">
  <app-top-bar></app-top-bar>

  <div class="content-container">
    <aside class="profile-sidebar">
      <mat-card>
        <app-user-profile></app-user-profile>
      </mat-card>
    </aside>

    <main class="main-content">


      <div class="blog-list">
        <app-no-blog *ngIf="(blogs$ | async)?.length === 0" page="home"></app-no-blog>

        <ng-container *ngIf="blogs$ | async as blogs">
          <ng-container *ngIf="blogs.length > 0">
            <app-blog-card
              *ngFor="let blog of blogs"
              [blog]="blog">
            </app-blog-card>
          </ng-container>
        </ng-container>
      </div>
    </main>
  </div>
</div>
