<mat-toolbar>
  <div class="toolbar-container">


    <div class="center-section">
      <span class="logo">Istoria</span>
    </div>

    <div class="right-section">
      @if (isGuest) {
        <button mat-button class="auth-btn" routerLink="/login">Login</button>
      }
      @if (isGuest) {
        <button mat-button class="register-btn" routerLink="/signup">Register</button>
      }
      @if (!isGuest) {
        <button mat-button class="auth-btn" (click)="logout()">Logout</button>
      }
    </div>
  </div>
</mat-toolbar>